body {
    background: black;
}

.right {
    float: right;
}

#blink1 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    0% {
      opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
  }
  @-webkit-keyframes blink-animation {

    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  #blink2 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    animation-delay: 0.67s;
  }

  #blink3 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    animation-delay: 0.37s;
  }

  #blink4 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    animation-delay: 0.79s;
  }
  #blink5 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    animation-delay: 0.59s;
  }
  #blink6 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    animation-delay: .29s ;
  }

  #blink7 {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    animation-delay: 0.47;
  }

  .bulb {
      height: 50px;
      width: 50px;
  }

  .menuText {
    color:white ;
  }
  


  div.slide-item-left {
    width:50%;
    overflow:hidden;
  }
  div.slide-item-left {
    animation: slide-left 10s;
    margin-top:0%;
    animation-iteration-count: infinite;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 50%;
    }
  
    to {
      margin-left: 0%;
    }
  }

  .slide-item-left {
    
  }
  .slide-item-left img {
    position: relative;
    transform: translateY(50%);
  }